@CHARSET "UTF-8";
@import "mysite.css";

#gallery			{ margin:20px auto;	width:540px; }
#gallery ul			{ width: 100%;}
#gallery h1{
	width: 25%;
    /* border: 1px solid #00FFFF; */
    float: left;
    padding-left: 43px;
    background-image: url(/assets/images/gallery.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 36px auto;
}
#gallery div{
	width: 100%;
	height: 54px;
}
#gallery div a{
	display: block;
    width: 18%;
    height: 28px;
    background-color: #D3D3D3;
    text-decoration: none;
}
#gallery ul li{
	position: relative;
    width: 22%;
    float: left;
    margin: 6px;
}
#gallery ul li a.image{
	display: inline;
	border: 3px solid #FFE0E0;
	width: 100%;
	height: 170px;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    text-decoration: none;
}
#gallery ul li a.del-button{
	position: absolute;
    right: 1px;
    z-index: 1;
    background-image: url(/assets/images/delete-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 31px;
    height: 26px;
    font-size: 0;
    display: none;
}
#gallery ul li:hover a.del-button{
	display: block;
}
#upload-image{
    float: right;
    text-align: center;
    padding-top: 12px;
    font-size: 1em;
    font-weight: bold;
    color: black;
}
#upload-image:active{
	border: 1px solid #30C0FF;
	
}

/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }

