@charset "UTF-8";
@import "mysite.css";

#guestbook {
	/* border: 2px solid #333; */
	margin: 15px;
	padding: 0px;
}

#guestbook h1{
	background: url('/assets/images/guestbook.png') no-repeat 0 0; 
	background-size: 35px;
	/* border: 2px solid #FF00FF; */
	padding-left: 35px;
	margin-bottom: 10px;
}
#add-form input{
	height: 25px;
	
}

#add-form textarea{
	height: 100px;
}

#guestbook input, #guestbook textarea{
	/* border: 2px solid #FF8000; */
	display: block;
	width: 100%;
	margin-bottom: 10px;
	
}

#input-submit{
	background-color: white;
	font-weight: bold;
}

#list-guestbook{
	/* border: 1px solid #00FF00; */
	
}
#list-guestbook li{
	background: url('/assets/images/user.png') no-repeat 0 0;
	/* border: 1px solid #FF00FF; */
	position: relative;
	background-position :left center;
	padding: 2px;
}
#list-guestbook li strong, 
#list-guestbook li p
{
	display: block;
	/* border: 1px solid #000080; */
	margin-left: 50px;
	padding: 2px;
}
#list-guestbook li p{
	padding-left: 20px;
	background-color: #DFDFDF;
	border-radius: 5px;
}
#list-guestbook li blockquote{
	margin-left: 20px;
	backg
}
#list-guestbook li a{
	background: url('/assets/images/delete.png') no-repeat 0 0;
	width: 32px;
	height: 32px;
	font-size: 0;
	position: absolute;	
	left: 19px;
    top: 34px;
	
}



